<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include("../components/head.ejs") %>
    <link rel="stylesheet" href="/css/admin/style.css">
    <title>Dados Cliente</title>
</head>
<body>
    <%- include("../components/header.ejs") %>
    <%- include("../components/nav.ejs") %>
    <main class="container">
        <h1>Dados Cliente</h1>
        <form class="row g-3 mt-2">
          
          <div class="form-floating col-md-6 ">
            <input
            
              type="text"
              class="form-control"
              id="id"
              placeholder="12345"
              name="id"
              disabled
              value=<%=user.idUsuario %>
             
            />
            <label for="floatingInput">ID</label>
          </div>
          <div class="form-floating col-md-6 ">
            <input
              type="text"
              class="form-control"
              id="nome"
              placeholder="Nome"
              name="nome"
              disabled
              value=<%=user.nome %>
              
            />
            <label for="floatingInput">Nome</label>
          </div>
          <div class="form-floating col-md-6 ">
              <input
                type="text"
                class="form-control"
                id="cpf"
                placeholder="CPF"
                name="cpf"
                disabled
                value=<%=user.cpf %>
                
              />
              <label for="cpf">CPF</label>
            </div>
            <div class="form-floating col-md-6 ">
              <input
                type="text"
                class="form-control"
                id="email"
                placeholder="email"
                name="email"
                disabled
                value=<%=user.email %>
                
              />
              <label for="email">E-mail</label>
            </div>
            <div class="form-floating col-md-6 ">
              <input
                type="text"
                class="form-control"
                id="telefone"
                placeholder="Telefone"
                name="telefone"
                disabled
                value=<%=user.telefone%>                
              />
              <label for="telefone">Telefone</label>
            </div>
            <div class="form-floating col-md-6 ">
              <input
                type="date"
                class="form-control"
                id="data_nascimento"
                placeholder="Data de Nascimento"
                name="data_nascimento"
                disabled
                value=<%=user.dtNascimento%>
                
              />
              <label for="data_nascimento">Data de Nascimento</label>
            </div>
          
        </form>

        <h4 class="mt-4">Endereço</h4>
        <p class="fw-bold">Rua: <%=enderecoUser.rua %></p>
        <p class="fw-bold">Número: <%=enderecoUser.numero %></p>
        <p class="fw-bold">CEP: <%=enderecoUser.cep %></p>        
        <p class="fw-bold">Bairro: <%=enderecoUser.bairro %></p>
        <p class="fw-bold">Cidade: <%=enderecoUser.cidade %></p>
        <p class="fw-bold">Complemento: <%=enderecoUser.complemento %></p>

        <h4 class="mt-4">Pagamento</h4>        
        <% if(pagamentoUser.length > 0) {%>
          <p class="fw-bold">Titular: <%=pagamentoUser.nome %></p>
          <p class="fw-bold">Número: <%=pagamentoUser.numero %></p>
          <p class="fw-bold">Validade: <%=pagamentoUser.validade %></p>
          <p class="fw-bold">CV: <%=pagamentoUser.cv %></p> 
        <% }else{ %>
            <p class="fw-bold">Não há formas de pagamento cadastrado</p>
        <%}%> 
               
      </main>
</body>
</html>