<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include("../components/head.ejs") %>
    <title>Clientes</title>
</head>
<body>
    <%- include("../components/header.ejs") %>
    <%- include("../components/nav.ejs") %>
    <main class="container mb-4">
        <h1>    
            Clientes
        </h1>
        <div class="row mt-4">
            <div class="col-md-6">
                <form class="d-flex">
                    <input class="form-control me-2 w-50" type="search" placeholder="Procure um cliente" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Pesquisar</button>
                  </form>
            </div>            
        </div>
          <table class="table mt-4">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nome</th>                  
                  <th scope="col">CPF</th>
                  <th scope="col">E-mail</th>
                  <th scope="col">Telefone</th>
                  <th scope="col">Data de Nascimento</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% users.forEach(element => { %>
                  <tr>
                  <th scope="row"><%= element.idUsuario%></th>
                  <td><%= element.nome%></td>                  
                  <td><%= element.cpf%></td>
                  <td><%= element.email%></td>
                  <td><%= element.telefone%></td>
                  <td><%= element.dtNascimento%></td>
                  <td><a href="/admin/clientes/editar/<%= element.idUsuario%>" class="btn btn-outline-primary">Visualizar</a></td>
                </tr>
                <%}); %>
                                
              </tbody>
            </table>
    </main>
</body>
</html>