<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include("../components/head.ejs") %>
    <link rel="stylesheet" href="/css/admin/style.css">
    <link rel="stylesheet" href="/css/admin/produto/style.css">
    <title>Editar Produto</title>
</head>
<body>
    <%- include("../components/header.ejs") %>
    <%- include("../components/nav.ejs") %>
    <main class="container mb-4">
        <h1>Editar Produto</h1>
        <% if (message != "") { %>
          <div id="alert-update" class="alert alert-<%=type%> d-flex justify-content-between align-items-center" role="alert">
            <%=message%>
            <span id="close-message"><i class="bi bi-x align-self-center"></i></span>
          </div>
        <% } %>
        
        <div class="row">
          <div class="col-md-4 mt-3">
            <img id="imagem-produto" src="<%=produto.imagem%>" alt="<%=produto.descricao%>" class="rounded mt-5 w-100 h-50">
          </div>
          <div class="col-md-8">
            <form class="row g-3 mt-2" action="/admin/produto/editar/<%=produto.id%>?_method=PUT" method="POST" >
              <div class="form-check form-switch col-md-4 offset-md-4 d-flex justify-content-end">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="estoque"
                  name="estoque"
                  <%=produto.estoque == 1? 'checked' : ''%> 
                />
                <label class="form-check-label ms-2" for="estoque"
                  >Em estoque</label
                >
              </div>
              <div class="form-check form-switch col-md-4 d-flex justify-content-end">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="ativo"
                  name="ativo"
                  <%=produto.ativo == 1? 'checked' : ''%> 
                />
                <label class="form-check-label ms-2" for="ativo"
                  >Ativo</label
                >
              </div>
              <div class="form-floating col-md-6">
                <input
                  type="text"
                  class="form-control"
                  id="id"
                  placeholder="12345"
                  name="id"
                  value=<%=produto.id%>
                  disabled
                />
                <label for="floatingInput">ID</label>
              </div>              
              <div class="form-floating col-md-6">
                <input
                  type="text"
                  class="form-control"
                  id="nome"
                  placeholder="Nome do produto"
                  name="nome"
                  value="<%=produto.nome%>"
                />
                <label for="floatingInput">Nome <span class="text-danger">*</span></label>
                <div class="form-text text-danger" <%=listErros.includes('nome') ? "" : "hidden" %>  >Por favor, preencha o campo com o nome do produto.</div>
              </div>              
              <div class="form-floating col-md-4">
                <select
                  class="form-select"
                  id="alcoolico"
                  aria-label="Alcoólico"
                  name="alcoolico"
                  onchange="handleSelectAlcoolico()"
                >

                  <option value="0"  <%=produto.alcoolico === optionsAlcoolico[0].alcoolico ? "selected" : ""%> >Não</option>
                  <option value="1"  <%=produto.alcoolico === optionsAlcoolico[1].alcoolico ? "selected" : ""%> >Sim</option>
                
                </select>
                <label for="floatingSelect">Alcoólico <span class="text-danger">*</span></label>
              </div>              
              <div class="form-floating col-md-4">
                <input
                  <%=produto.alcoolico === 0 ? "disabled" : ""%>
                  type="text"
                  class="form-control"
                  id="graduacao_alcoolica"
                  placeholder="Graduação Alcoólica"
                  name="graduacao_alcoolica"
                  value=<%=produto.graduacao_alcoolica%>
                  
                />
                <label for="graduacao_alcoolica">Graduação Alcoólica <span class="text-danger">*</span></label>
                <div class="form-text text-danger" <%=listErros.includes('graduacao_alcoolica') ? "" : "hidden"%> >Por favor, preencha o campo com a graduação alcoólica do produto.</div>
              </div>
              <div class="form-floating col-md-4">
                <input
                  type="text"
                  class="form-control"
                  id="volume"
                  placeholder="Volume"
                  name="volume"
                  value=<%=produto.volume%>
                />
                <label for="volume">Volume <span class="text-danger">*</span></label>
                <div class="form-text text-danger" <%=listErros.includes('volume') ? "" : "hidden"%> >Por favor, preencha o campo com o volume do produto.</div>
              </div>    
              <div class="form-floating col-md-4">
                <select
                  class="form-select"
                  id="tipo"
                  aria-label="tipo"
                  name="tipo"
                >
                <% optionsTipo.map(option => { %>
    
                  <option value=<%=option.tipo%>  <%=produto.tipo === option.tipo ? "selected" : ""%> ><%=option.tipo%></option>
                
                <% }) %>
                </select>
                <label for="tipo">Tipo <span class="text-danger">*</span></label>
                
              </div> 
              <div class="form-floating col-md-4">
                <input
                  type="price"
                  class="form-control"
                  id="preco"
                  placeholder="preco"
                  name="preco"
                  value=<%=produto.preco.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })%>
                />
                <label for="preco">Preço (R$) <span class="text-danger">*</span></label>
                <div class="form-text text-danger" <%=listErros.includes('preco') ? "" : "hidden"%> >Por favor, preencha o campo com o preço do produto.</div>
              </div>              
              <div class="form-floating col-md-4">
                <input
                  type="text"
                  class="form-control"
                  id="imagem"
                  placeholder="imagem"
                  name="imagem"
                  value=<%=produto.imagem%>
                  onblur="modifyImage()"
                />
                <label for="imagem">Imagem <span class="text-danger">*</span></label>
                <div class="form-text text-danger" <%=listErros.includes('imagem') ? "" : "hidden"%> >Por favor, preencha o campo com o link da imagem do produto.</div>
              </div>
              <div class="form-floating col-md-12">
                <textarea
                  class="form-control"
                  placeholder="Descrição"
                  id="descricao"
                  style="height: 100px"
                  name="descricao"
                ><%=produto.descricao%></textarea>
                <label for="descricao">Descrição <span class="text-danger">*</span></label>
                <div class="form-text text-danger" <%=listErros.includes('descricao') ? "" : "hidden"%> >Por favor, preencha o campo com a descrição do produto.</div>
              </div>
              <div class="form-floating col-md-12">
                <textarea
                  class="form-control"
                  placeholder="Ingredientes"
                  id="ingredientes"
                  style="height: 100px"
                  name="ingredientes"
                  
                ><%=produto.ingredientes%></textarea>
                <label for="ingredientes">Ingredientes <span class="text-danger">*</span></label>
                <div class="form-text text-danger" <%=listErros.includes('ingredientes') ? "" : "hidden"%> >Por favor, preencha o campo com os ingredientes do produto.</div>
              </div>
              <div class="form-floating col-md-12">
                <textarea
                  class="form-control"
                  placeholder="Harmonização"
                  id="harmonizacao"
                  style="height: 100px"
                  name="harmonizacao"                  
                ><%=produto.harmonizacao%></textarea>
                <label for="harmonizacao">Harmonização <span class="text-danger">*</span></label>
                <div class="form-text text-danger" <%=listErros.includes('harmonizacao') ? "" : "hidden"%> >Por favor, preencha o campo de harmonização do produto.</div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary w-100">Salvar</button>
              </div>
            </form>
          </div>
        </div>
        
    </main>
      <script src="/scripts/produto.js"></script>
</body>
</html>