<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include("../components/head.ejs") %>
    <title>Produtos</title>
  </head>
  <body>
    <%- include("../components/header.ejs") %> <%-
    include("../components/nav.ejs") %>
    <main class="container mb-4">
      <h1>Produtos</h1>
      <% if (message != "") { %>
        <div id="alert-update" class="alert alert-<%=type%> d-flex justify-content-between align-items-center" role="alert">
          <%=message%>
          <span id="close-message"><i class="bi bi-x align-self-center"></i></span>
        </div>
      <% } %>
      <div class="row mt-4">
        <div class="col-md-6">
          <form class="d-flex">
            <input
              class="form-control me-2 w-50"
              type="search"
              placeholder="Procure um produto"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Pesquisar
            </button>
          </form>
        </div>
        <div class="col-md-6 text-end">
          <a href="/admin/produtos/cadastro" class="btn btn-outline-primary"
            ><i class="bi bi-plus-square"></i> Novo produto</a
          >
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <nav aria-label="Page navigation" class="bg-transparent text-start">
            <ul class="pagination justify-content-start">
              <li class="page-item <%= page <= 1 ? 'disabled' : '' %>">
                <a class="page-link" href="?page=<%=prevPage%>" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <% for(let nrPagina = 1; nrPagina <= totalPagina; nrPagina ++) {%>
                <li class="page-item <%= nrPagina == page ? 'current' : '' %>">
                  <a class="page-link" href="?page=<%=nrPagina%>"><%=nrPagina%></a>
                </li>
              <%}%>
              <li class="page-item <%= page >= totalPagina ? 'disabled' : '' %>">
                <a class="page-link" href="?page=<%=nextPage%>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="row justify-content-center">
        <% for (let i = 0; i < produtos.length; i++) {%>          
        <div class="col-4 mt-3">
          <div class="card">
            <img
              src="<%=produtos[i].imagem%>"
              height="300"
              width="300"
              class="card-img-top"
              alt="Imagem"
            />
            <div class="card-body">
              <h5 class="card-title text-truncate">#<%=produtos[i].idProduto%> - <%=produtos[i].nome%></h5>
              <p class="card-text"><%=produtos[i].preco.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })%></p>              
              <a href="/admin/produtos/editar/<%=produtos[i].idProduto%>" class="btn btn-primary"
                >Editar</a
              >
            </div>
          </div>
        </div>
        <%} %>
        
      </div>
      <div class="row mt-4">
        <div class="col-md-6">
          <nav aria-label="Page navigation" class="bg-transparent text-start">
            <ul class="pagination justify-content-start">
              <li class="page-item <%= page <= 1 ? 'disabled' : '' %>">
                <a class="page-link" href="?page=<%=prevPage%>" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <% for(let nrPagina = 1; nrPagina <= totalPagina; nrPagina ++) {%>
                <li class="page-item <%= nrPagina == page ? 'current' : '' %>">
                  <a class="page-link" href="?page=<%=nrPagina%>"><%=nrPagina%></a>
                </li>
              <%}%>
              <li class="page-item <%= page >= totalPagina ? 'disabled' : '' %>">
                <a class="page-link" href="?page=<%=nextPage%>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </main>
    <script src="/scripts/produto.js"></script>
  </body>
</html>
