<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include("components/head.ejs") %>
  <title>Cadastro</title>
</head>

<body id="cadastro">
  <%- include("components/header.ejs") %>

  <main class="registration-page main">
    <div class="title-bg">
      <div class="title container">
        <p class="font-2-l-b color-5 fadeInLeft" data-anime="200">Cadastre seus dados</p>
        <h1 class="font-1-xxl color-0 fadeInLeft" data-anime="400">Página de Cadastro<span class="color-p1">.</span></h1>
      </div>
    </div>
    <form class="container">
      <fieldset class="personal-data fadeInLeft" data-anime="600">
        <legend>Dados pessoais</legend>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-47",type:"email",id_name:"email",label:"E-mail*"}) %>
          <%-include('./components/input_group.ejs', {style:"w-47",type:"text",id_name:"cpf",label:"CPF*"}) %>
        </div>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-100",type:"text",id_name:"name",label:"Nome completo*"}) %>
        </div>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-47",type:"text",id_name:"telefone",label:"Telefone"}) %>
          <%-include('./components/input_group.ejs', {style:"w-47",type:"date",id_name:"dtNascimento",label:"Data de nascimento*"}) %>
        </div>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-47",type:"password",id_name:"senha",label:"Senha*"}) %>
          <%-include('./components/input_group.ejs', {style:"w-47",type:"password",id_name:"senhaConfirma",label:"Confirme a senha*"}) %>
        </div>
      </fieldset>
      <fieldset class="address-data fadeInRight" data-anime="800">
        <legend>Endereço</legend>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-100",type:"text",id_name:"cep",label:"CEP*"}) %>
        </div>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-80",type:"text",id_name:"rua",label:"Rua*"}) %>
          <%-include('./components/input_group.ejs', {style:"w-15",type:"text",id_name:"numero",label:"Número*"}) %>
        </div>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-47",type:"text",id_name:"bairro",label:"Bairro*"}) %>
          <%-include('./components/input_group.ejs', {style:"w-47",type:"text",id_name:"cidade",label:"Cidade*"}) %>
        </div>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-100",type:"text",id_name:"complemento",label:"Complemento"}) %>
        </div>        
        <div class="row">
          <%-include('./components/checkbox_group.ejs', {style:"w-100 fadeInUp",value:"",id_name:"checkNews",label:"Quero receber novidades"}) %>
        </div>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-100 fadeInUp",type:"submit",label:"Cadastrar"}) %>
        </div>        

      </fieldset>
    </form>
  </main>
  <%- include("components/footer.ejs") %>
  <script src="./scripts/plugins/simple-anime.js"></script>
  <script src="./scripts/script.js"></script>
</body>

</html>