<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include("components/head.ejs") %>
  <title>Cadastro</title>
</head>

<body id="cadastro">
  <%- include("components/header.ejs") %>

  <main class="registration-page main">
    <div class="title-bg">
      <div class="title container">
        <p class="font-2-l-b color-5 fadeInLeft" data-anime="200">Cadastre seus dados</p>
        <h1 class="font-1-xxl color-0 fadeInLeft" data-anime="400">Página de Cadastro<span class="color-p1">.</span></h1>
      </div>
    </div>

    <% if (typeof userError !="undefined" ){ %>

      <%- include("modals/userError.ejs"); %>

      <% } else if(typeof confirmed_PasswordError != "undefined") {%>
      <%- include("modals/confirmed_PasswordError.ejs"); %>

      <% }  %>

    <form class="container" action="/cadastro" method="POST">
      <fieldset class="personal-data fadeInLeft" data-anime="600">
        <legend>Dados pessoais</legend>
        <div class="row">
          <div class="input-group w-47">
            <label for="email">E-mail*</label>
            <input type="email" id="email" name="email">
          </div>
          <div class="input-group w-47">
            <label for="cpf">CPF*</label>
            <input type="text" id="cpf" name="cpf">
          </div>
        </div>
        <div class="row">
          <div class="input-group w-100">
            <label for="nome">Nome completo*</label>
            <input type="text" id="nome" name="nome">
          </div>
        </div>
        <div class="row">
          <div class="input-group w-47">
            <label for="telefone">Telefone</label>
            <input type="text" id="telefone" name="telefone">
          </div>
          <div class="input-group w-47">
            <label for="dtNascimento">Data de nascimento*</label>
            <input type="date" id="dtNascimento" name="dtNascimento">
          </div>
        </div>
        <div class="row">
          <div class="input-group w-47">
            <label for="senha">Senha*</label>
            <input type="password" id="senha" name="senha">
          </div>
          <div class="input-group w-47">
            <label for="senhaConfirmada">Confirme a senha*</label>
            <input type="password" id="senhaConfirmada" name="senhaConfirmada">
          </div>
        </div>
      </fieldset>
      <fieldset class="address-data fadeInRight" data-anime="800">
        <legend>Endereço</legend>
        <div class="row">
          <div class="input-group w-100">
            <label for="cep">CEP*</label>
            <input type="text" id="cep" name="cep">
          </div>
        </div>
        <div class="row">
          <div class="input-group w-80">
            <label for="rua">Rua*</label>
            <input type="text" id="rua" name="rua">
          </div>
          <div class="input-group w-15">
            <label for="numero">Número</label>
            <input type="text" id="numero" name="numero">
          </div>
        </div>
        <div class="row">
          <div class="input-group w-47">
            <label for="bairro">Bairro*</label>
            <input type="text" id="bairro" name="bairro">
          </div>
          <div class="input-group w-47">
            <label for="cidade">Cidade*</label>
            <input type="text" id="cidade" name="cidade">
          </div>
        </div>
        <div class="row">
          <div class="input-group w-100">
            <label for="complemento">Complemento</label>
            <input type="text" id="complemento" name="complemento">
          </div>
        </div>
        <div class="row">
          <div class="check-group w-100 fadeInDown" data-anime="800">
            <label for="noticias"> Quero receber novidades</label>
            <input type="checkbox" id="noticias" name="noticias" value="true">
          </div>
        </div>
        <div class="row">
          <div class="input-group w-100 fadeInUp" data-anime="800">
            <input type="submit" value="Cadastrar">
          </div>
        </div>

      </fieldset>
    </form>
  </main>
  <%- include("components/footer.ejs") %>
  <script src="./scripts/plugins/simple-anime.js"></script>
  <script src="./scripts/script.js"></script>
  <script src="./scripts/modalErrors.js"></script>
</body>

</html>