<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include("components/head.ejs") %>
  
  <script defer src="scripts/cep-api.js"></script>
  
  <title>Carrinho</title>
</head>

<body>
 
  <% if(locals.user && user) {%> <%- include("components/header_logado.ejs")
    %> <% } else { %> <%- include("components/header.ejs") %> <% } %>
  
  <main class="container">
    <section class="carrinho-de-produtos">      
        <% if(!carrinho.length){  %>
          <article class="produto-no-carrinho sem-produto">
            <h3>Geladeira vazia... ☹️ <a href="/catalogo">Veja aqui nossos produtos</a> </h3>
          </article>
          
        <% }else{carrinho.forEach(produto => {%>
            <article class="produto-no-carrinho">
              <img class="img-do-produto" src="<%= produto.imagem %>" alt="<%= produto.nome %>">
              <h3 class="titulo-do-produto"><%= produto.nome %></h2>
              <div class="input-wrapper-quant">
                <label for="quantidade">Quantidade</label>
                <input class="quantidade-input" type="number" name="quantidade" id="quantidade" value="1" min="1">
              </div>
              <h4 class="valor-produtos-avulso">R$ <%= produto.preco.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %> </h4>
              </article>
            <%}); %>
           <div class="footer-carrinho">
            <a href="/catalogo">Adicionar mais produtos</a>
            <h4 class="soma-produtos">Subtotal: R$ <%= total %></h4>
           </div> 
        <%} %>
    </section>
  
    <section class="frete-e-pagamento">
      <form class="calcular-frete">
        <h3>Entrega</h3>
        <div class="row">
          <div class="input-group w-100">
            <label for="cep">CEP</label>
            <input type="text" id="cep" name="cep" value="" disabled/>
          </div>
        </div>        
        <div class="row">
          <div class="input-group w-100">
            <label for="rua">Rua</label>
            <input type="text" id="rua" name="rua" value="" disabled/>
          </div>          
        </div>
        <div class="row">
          <div class="input-group w-100">
            <label for="numero">Número</label>
            <input type="number" id="numero" name="numero" value="" disabled/>
          </div>     
        </div>
        <div class="row">
          <div class="input-group w-100">
            <label for="bairro">Bairro</label>
            <input type="text" id="bairro" name="bairro" value="" disabled/>
          </div>
        </div>
        <div class="row">
          <div class="input-group w-100">
            <label for="estado">Estado</label>
            <input type="text" id="estado" name="estado" value="" disabled/>
          </div>
        </div>
        <div class="row">
          <div class="input-group w-100">
            <label for="cidade">Cidade</label>
            <input type="text" id="cidade" name="cidade" value="" disabled/>
          </div>
        </div>
        <div class="row">
          <div class="input-group w-100">
            <label for="destinatario">Destinatário</label>
            <input type="text" id="destinatario" name="destinatario" value="" disabled/>
          </div>
        </div> 
      </form>
      <div class="pagamento">
        <h3>Pagamento</h3>
        
        <div class="frete-wrap">
          <p>Frete</p>
          <p>Grátis</p>          
        </div>
        
        <div class="pagamento-wrap">
          <h4>Total</h4>
          <h4>R$ <%= total %> </h4>
        </div>
        
        <article>
          <form class="forma-de-pagamento">
            <h3>Forma de pagamento</h3>
            <div class="row">
              <%-include('./components/radio_group.ejs', {style:"w-100",id:"pix",name:"tipo-pagamento",value:"pix",label:"Pix 2% OFF"}) %>
            </div>
            <div class="row">
              <%-include('./components/radio_group.ejs', {style:"w-100",id:"cartao",name:"tipo-pagamento",value:"cartao",label:"Até 4x s/juros"}) %>
            </div>
            <div class="row">
              <%-include('./components/radio_group.ejs', {style:"w-100",id:"boleto",name:"tipo-pagamento",value:"boleto",label:"Boleto 5% OFF"}) %>
            </div>
            
            <div class="row text-cemter">
              <%-include('./components/input_group.ejs', {style:"w-100",type:"submit",label:"Finalizar pagamento"}) %>
            </div> 
          </form>
        </article>
      </div>
    </section>
  </main>

  <%- include("components/footer.ejs") %>

  <script src="./scripts/plugins/simple-anime.js"></script>
  <script src="./scripts/script.js"></script>

</body>

</html>