<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include("components/head.ejs") %>
  
  <script defer src="scripts/cep-api.js"></script>
  
  <title>Carrinho</title>
</head>

<body>
 
  <%- include("components/header.ejs") %>
  
  <main class="container">
    <section class="carrinho-de-produtos">
      <article class="produto-no-carrinho">
        <img class="img-do-produto" src="./images/bebidas/Whisky-Jack-Daniels-Old-no7-1L.png" alt="Jack Daniels">
        <h3 class="titulo-do-produto">Whiskey JackDaniels 1 Litro N7</h2>
        <div class="input-wrapper-quant">
          <label for="quantidade">Quantidade</label>
          <input class="quantidade-input" type="number" name="quantidade" id="quantidade">
        </div>
        <h4 class="valor-produtos-avulso"> R$ </h4>
        </article>
        <article class="produto-no-carrinho">
          <img class="img-do-produto" src="./images/bebidas/Whisky-Jack-Daniels-Old-no7-1L.png" alt="Jack Daniels">
          <h3 class="titulo-do-produto">Whiskey JackDaniels 1 Litro N7</h2>
            <div class="input-wrapper-quant">
              <label for="quantidade">Quantidade</label>
              <input class="quantidade-input" type="number" name="quantidade" id="quantidade">
            </div>
            <h4 class="valor-produtos-avulso"> R$ </h4>
          </article>
        <h4 class="soma-produtos">Subtotal: R$ </h4>
    </section>
  
    <section class="frete-e-pagamento">
      <form class="calcular-frete">
        <h3>Entrega</h3>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-100",type:"text",id_name:"cep",label:"CEP"}) %>
        </div>        
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-100",type:"text",id_name:"rua",label:"Rua"}) %>
        </div>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-100",type:"number",id_name:"numero",label:"Número"}) %>
        </div>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-100",type:"text",id_name:"bairro",label:"Bairro"}) %>
        </div>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-100",type:"text",id_name:"estado",label:"Estado"}) %>
        </div>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-100",type:"text",id_name:"cidade",label:"Cidade"}) %>
        </div>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-100",type:"text",id_name:"destinatario",label:"Destinatário"}) %>
        </div>        
        <h3>Escolha seu frete</h3>
        <div class="radio-wrapper">
          <label for="tipo-frete">Entrega Economica R$20,00</label>
          <input type="radio" name="tipo-frete" id="frete-economico">
        </div>
        <div class="radio-wrapper">
          <label for="tipo-frete">Entrega rápida R$40,00 </label>
          <input type="radio" name="tipo-frete" id="frete-rapido">
        </div>
        <div class="radio-wrapper">
          <label for="tipo-frete">Frete Grátis </label>
          <input type="radio" name="tipo-frete" id="frete-gratis">
        </div>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-100",type:"submit",label:"Ir Para Pagamento"}) %>
        </div>  
      </form>
      <div class="pagamento">
        <h3>Pagamento</h3>
        
        <div class="frete-wrap">
          <p>Frete</p>
          <p>R$</p>          
        </div>
        
        <div class="pagamento-wrap">
          <h4>Total</h4>
          <h4>R$ </h4>
        </div>
        
        <form>
          <div class="row">
            <%-include('./components/input_group.ejs', {style:"w-100",type:"text",id_name:"cupom",label:"Insira Seu Cupom"}) %>
            <%-include('./components/input_group.ejs', {style:"w-100",type:"submit",id_name:"",label:"Validar"}) %>
          </div> 
        </form>
        
        <article>
          <form class="forma-de-pagamento">
            <h3>Forma de Pagamento</h3>
            <div class="checkbox-wrapper">
              <label for="pix"> Pix 2%OFF</label>
              <input type="checkbox" name="pix" id="pix">
            </div>
            <div class="checkbox-wrapper">
              <label for="cartao"> Até 4x s/juros</label>
              <input type="checkbox" name="cartao" id="cartao">
            </div>
            <div class="checkbox-wrapper">
              <label for="boleto"> Boleto 5%off </label>
              <input type="checkbox" name="boleto" id="boleto">
            </div>
            <div class="row">
              <%-include('./components/input_group.ejs', {style:"w-100",type:"submit",id_name:"",label:"Finalizar Pagamento"}) %>
            </div> 
          </form>
        </article>
      </div>
    </section>
  </main>

  <%- include("components/footer.ejs") %>

  <script src="./scripts/plugins/simple-anime.js"></script>
  <script src="./scripts/script.js"></script>

</body>

</html>