<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include("components/head.ejs") %>
  
  <script defer src="scripts/cep-api.js"></script>

  <title>Carrinho</title>
</head>

<body>
 
  <% if(locals.user && user) {%> <%- include("components/header_logado.ejs")
    %> <% } else { %> <%- include("components/header.ejs") %> <% } %>
  
  <main class="container">
    <section class="carrinho-de-produtos">      
        <% if(!carrinho.length){  %>
          <article class="produto-no-carrinho sem-produto">
            <h3>Geladeira vazia... ☹️ <a href="/catalogo">Veja aqui nossos produtos</a> </h3>
          </article>          
        <% }else{%>
          <table class="table-carrinho">
            <thead>
              <tr>
                <th>Produto</th>
                <th></th>
                <th>Quantidade</th>
                <th>Preço</th>
              </tr>
            </thead>
            <tbody>
            <% carrinho.forEach(produto => {    %>
                <tr>
                  <td><img class="img-do-produto" src="<%= produto.imagem %>" alt="<%= produto.nome %>"></td>
                  <td class="nome-column"><%= produto.nome %></td>
                  <td >
                    <div class="quantidade-column">
                      <form action="/carrinho?id=<%= produto.idProduto %>&acao=0" method="POST" class="form-minus">
                        <input type="hidden" name="idProduto" value="<%= produto.idProduto %>">
                        <input type="hidden" name="nome" value="<%= produto.nome %>">
                        <input type="hidden" name="preco" value="<%= produto.preco %>">
                        <input type="hidden" name="imagem" value="<%= produto.imagem %>">
                        <input type="hidden" name="quantidade" value=<%= Number(produto.quantidade)+1 %> >
                        <button type="submit" class="btn-handle-quantidade">-</button>
                      </form> 
                      <%= produto.quantidade %>
                      <form action="/carrinho?id=<%= produto.idProduto %>&acao=1incrementarProduto" method="POST" class="form-plus">
                        <input type="hidden" name="idProduto" value="<%= produto.idProduto %>">
                        <input type="hidden" name="nome" value="<%= produto.nome %>">
                        <input type="hidden" name="preco" value="<%= produto.preco %>">
                        <input type="hidden" name="imagem" value="<%= produto.imagem %>">
                        <input type="hidden" name="quantidade" value=<%= Number(produto.quantidade)+1 %> >
                        <button type="submit" class="btn-handle-quantidade">+</button>
                      </form> 
                    </div>
                    
                  </td>
                  <td>R$ <%= produto.preco.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %></td>
                </tr>                
              <%}); %>
              <tr class="footer-carrinho">
                <td>
                  <a href="/catalogo">Adicionar mais produtos</a>
                </td>
                <td colspan="3" class="subtotal-column">
                  <h4 class="soma-produtos">Subtotal: R$ <%= total %></h4>
                </td>
              </tr>
              </tbody>                
            </table>
           
    </section>

    <section class="frete-e-pagamento">      
        <form class="calcular-frete">
          <h3>Entrega</h3>
          <div class="row">
            <div class="input-group w-100">
              <label for="cep">CEP</label>
              <input type="text" id="cep" name="cep" value="<%=endereco.cep%>"/>
            </div>
          </div>        
          <div class="row">
            <%-include('./components/input_group.ejs', {style:"w-100",type:"text",id_name:"rua",label:"Rua", value:endereco.rua }) %>
          </div>
          <div class="row">
            <%-include('./components/input_group.ejs', {style:"w-100",type:"number",id_name:"numero",label:"Número", value:endereco.numero}) %>
          </div>
          <div class="row">
            <%-include('./components/input_group.ejs', {style:"w-100",type:"text",id_name:"bairro",label:"Bairro", value:endereco.bairro}) %>
          </div>
          <div class="row">
            <%-include('./components/input_group.ejs', {style:"w-100",type:"text",id_name:"cidade",label:"Cidade", value:endereco.cidade}) %>
          </div>
          <div class="row">
            <%-include('./components/input_group.ejs', {style:"w-100",type:"text",id_name:"destinatario",label:"Destinatário", value:user.nome}) %>
          </div>        
          
        </form>
  
      <div class="pagamento">
        <h3>Pagamento</h3>
        
        <div class="frete-wrap">
          <p>Frete</p>
          <p>Grátis</p>          
        </div>
        
        <div class="pagamento-wrap">
          <h4>Total</h4>
          <h4>R$ <%= total %> </h4>
        </div>
        
        <article>
          <form class="forma-de-pagamento">
            <h3>Forma de pagamento</h3>
            <div class="row">
              <%-include('./components/radio_group.ejs', {style:"w-100",id:"pix",name:"tipo-pagamento",value:"pix",label:"Pix 2% OFF"}) %>
            </div>
            <div class="row">
              <%-include('./components/radio_group.ejs', {style:"w-100",id:"cartao",name:"tipo-pagamento",value:"cartao",label:"Até 4x s/juros"}) %>
            </div>
            <div class="row">
              <%-include('./components/radio_group.ejs', {style:"w-100",id:"boleto",name:"tipo-pagamento",value:"boleto",label:"Boleto 5% OFF"}) %>
            </div>            
            <div class="row">              
              <div class="input-group w-100" data-anime="800">
                <a href="/carrinho?compra=ok" class="btn-final">Finalizar pagamento</a>
              </div>
            </div> 
          </form>
        </article>
      </div>
    </section>
    <% } %> 
  </main>

  <% if(typeof msgFinal != "undefined" ) {%>
    <%- include("modals/sucesso/compraFinalizada.ejs"); %> 
  <% }  %>

  <%- include("components/footer.ejs") %>

  <script src="./scripts/plugins/simple-anime.js"></script>
  <script src="./scripts/script.js"></script>
  <script src="./scripts/modalErrors.js"></script>
</body>

</html>