<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include("components/head.ejs") %>
  
  <script defer src="scripts/cep-api.js"></script>
  
  <title>Carrinho</title>
</head>

<body>
 
  <%- include("components/header.ejs") %>
  
  <main class="container">
    <section class="carrinho-de-produtos">
      <article class="produto-no-carrinho">
        <img class="img-do-produto" src="./images/bebidas/Whisky-Jack-Daniels-Old-no7-1L.png" alt="Jack Daniels">
        <h3 class="titulo-do-produto">Whiskey JackDaniels 1 Litro N7</h2>
        <div class="input-wrapper-quant">
          <label for="quantidade">Quantidade</label>
          <input class="quantidade-input" type="number" name="quantidade" id="quantidade">
        </div>
        <h4 class="valor-produtos-avulso"> R$ </h4>
        </article>
        <article class="produto-no-carrinho">
          <img class="img-do-produto" src="./images/bebidas/Whisky-Jack-Daniels-Old-no7-1L.png" alt="Jack Daniels">
          <h3 class="titulo-do-produto">Whiskey JackDaniels 1 Litro N7</h2>
            <div class="input-wrapper-quant">
              <label for="quantidade">Quantidade</label>
              <input class="quantidade-input" type="number" name="quantidade" id="quantidade">
            </div>
            <h4 class="valor-produtos-avulso"> R$ </h4>
          </article>
        <h4 class="soma-produtos">Subtotal: R$ </h4>
    </section>
  
    <section class="frete-e-pagamento">
      <form class="calcular-frete">
        <h3>Entrega</h3>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-100",type:"text",id_name:"cep",label:"CEP"}) %>
        </div>        
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-100",type:"text",id_name:"rua",label:"Rua"}) %>
        </div>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-100",type:"number",id_name:"numero",label:"Número"}) %>
        </div>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-100",type:"text",id_name:"bairro",label:"Bairro"}) %>
        </div>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-100",type:"text",id_name:"estado",label:"Estado"}) %>
        </div>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-100",type:"text",id_name:"cidade",label:"Cidade"}) %>
        </div>
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-100",type:"text",id_name:"destinatario",label:"Destinatário"}) %>
        </div>        
        <h3>Escolha seu frete</h3>
        <div class="row">
          <%-include('./components/radio_group.ejs', {style:"w-100",id:"frete-economico",name:"tipo-frete",value:"frete economico",label:"Entrega econômica R$20,00"}) %>
        </div>
        <div class="row">
          <%-include('./components/radio_group.ejs', {style:"w-100",id:"frete-rapido",name:"tipo-frete",value:"frete rapido",label:"Entrega rápida R$40,00"}) %>
        </div>
        <div class="row">
          <%-include('./components/radio_group.ejs', {style:"w-100",id:"frete-gratis",name:"tipo-frete",value:"frete gratis",label:"Frete grátis"}) %>
        </div>        
        <div class="row">
          <%-include('./components/input_group.ejs', {style:"w-100",type:"submit",label:"Ir para pagamento"}) %>
        </div>  
      </form>
      <div class="pagamento">
        <h3>Pagamento</h3>
        
        <div class="frete-wrap">
          <p>Frete</p>
          <p>R$</p>          
        </div>
        
        <div class="pagamento-wrap">
          <h4>Total</h4>
          <h4>R$ </h4>
        </div>
        
        <form>
          <div class="row">
            <%-include('./components/input_group.ejs', {style:"w-100",type:"text",id_name:"cupom",label:"Insira seu cupom"}) %>
            <%-include('./components/input_group.ejs', {style:"w-100",type:"submit",id_name:"",label:"Validar"}) %>
          </div> 
        </form>
        
        <article>
          <form class="forma-de-pagamento">
            <h3>Forma de pagamento</h3>
            <div class="row">
              <%-include('./components/radio_group.ejs', {style:"w-100",id:"pix",name:"tipo-pagamento",value:"pix",label:"Pix 2% OFF"}) %>
            </div>
            <div class="row">
              <%-include('./components/radio_group.ejs', {style:"w-100",id:"cartao",name:"tipo-pagamento",value:"cartao",label:"Até 4x s/juros"}) %>
            </div>
            <div class="row">
              <%-include('./components/radio_group.ejs', {style:"w-100",id:"boleto",name:"tipo-pagamento",value:"boleto",label:"Boleto 5% OFF"}) %>
            </div>
            
            <div class="row">
              <%-include('./components/input_group.ejs', {style:"w-100",type:"submit",label:"Finalizar pagamento"}) %>
            </div> 
          </form>
        </article>
      </div>
    </section>
  </main>

  <%- include("components/footer.ejs") %>

  <script src="./scripts/plugins/simple-anime.js"></script>
  <script src="./scripts/script.js"></script>

</body>

</html>