<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include("components/head.ejs") %>

    <title>Detalhe do produto</title>
</head>

<body>

  <% if(locals.user && user) {%> <%- include("components/header_logado.ejs")
    %> <% } else { %> <%- include("components/header.ejs") %> <% } %>

  <main class="main">
    <div>
      <div class="title-bg container">
        <h1 class="font-1-xxl color-0 fadeInLeft" data-anime="200"><%= produto.nome %><span class="color-p1">.</span></h1>
        
      </div>
    </div>

    <div class="product container">
      <div class="product-images fadeInUp" data-anime="600">
        <img src="<%= produto.imagem %>" alt="<%= produto.nome %>">
      </div>
      <div class="product-content">
        <h2 class="font-1-l color-0 fadeInLeft" data-anime="800">Descrição</h2>
        <p class="font-2-l color-5 fadeInRight" data-anime="1000">
          <%= produto.descricao %>
        </p>
        <div class="buy-product">
          <% if(produto.estoque) {%> 
            <p class="font-2-xl color-5 fadeInLeft" data-anime="400">R$<%= produto.preco %></p>
          <% } else { %>
            <a class="button productUnavailable font-1-m-b color-11 fadeInDown" data-anime="1400">Produto Indisponível</a>
          <% } %>
          <div class="situacao-produto">
            <span id="entrega" class="font-1-xs-b color-11 fadeInDown" data-anime="1400"><img src="/images/icones/entrega.svg" alt=""><%= produto.estoque ? "entrega rápido" : "sem entrega"%></span>
            <span id="estoque" class="font-1-xs-b color-11 fadeInUp" data-anime="1600"><img src="/images/icones/estoque.svg" alt=""><%= produto.estoque ? "em estoque" : "sem estoque"%></span>
          </div>
          
        </div>
        <% if(produto.estoque) {%> 
          <div class="buy-product">
            <form action="/carrinho/adicionar" method="POST">
              <input type="hidden" name="idProduto" value="<%= produto.idProduto %>">
              <input type="hidden" name="nome" value="<%= produto.nome %>">
              <input type="hidden" name="preco" value="<%= produto.preco %>">
              <input type="hidden" name="imagem" value="<%= produto.imagem %>">
              <button type="submit" class="button fadeInLeft" data-anime="1200" href="">Comprar Agora</a>
              <button type="submit" class="freezer">Deixar gelando <img src="/images/icones/freezer.svg" alt="" class="fadeInUp" data-anime="2200"></button>
            </form>
            
          </div>
        <% } %>
        

        <h2 class="font-1-xs color-0 color-11 fadeInUp" data-anime="1800">Informações</h2>
        <ul class="product-info fadeInRight" data-anime="2000">
          <li>
            <img src="/images/icones/ingredientes.svg" alt="" class="fadeInUp" data-anime="2200">
            <h3 class="font-1-m color-0 fadeInDown" data-anime="2400" >Ingredientes</h3>
            <p class="font-2-xs color-5 fadeInDown" data-anime="2400"><%= produto.ingredientes %></p>
          </li>

          <li>
            <img src="/images/icones/preparo.svg" alt="" class="fadeInUp" data-anime="2200">
            <h3 class="font-1-m color-0 fadeInDown" data-anime="2400">Harmonização</h3>
            <p class="font-2-xs color-5 fadeInDown" data-anime="2400"><%= produto.harmonizacao %></p>
          </li>

          <% if(produto.alcoolico){ %>
            <li>
              <img src="/images/icones/graduacao_alcoolica.svg" alt="" class="fadeInUp" data-anime="2200">
              <h3 class="font-1-m color-0 fadeInDown" data-anime="2400">Graduação Alcoólica</h3>
              <p class="font-2-xs color-5 fadeInDown" data-anime="2400">Contém <%= produto.graduacao_alcoolica %> de teor alcoólico.</p>
            </li>
          <% } else { %>
            <li>
              <img src="/images/icones/graduacao_alcoolica.svg" alt="" class="fadeInUp" data-anime="2200">
              <h3 class="font-1-m color-0 fadeInDown" data-anime="2400">Graduação Alcoólica</h3>
              <p class="font-2-xs color-5 fadeInDown" data-anime="2400">Não contém teor alcoólico.</p>
            </li>
          <% } %>
          <li>
            <img src="/images/icones/volume.svg" alt="" class="fadeInUp" data-anime="2200">
            <h3 class="font-1-m color-0  fadeInDown" data-anime="2400">Volume</h3>
            <p class="font-2-xs color-5  fadeInDown" data-anime="2400">Contém <%= produto.volume %></p>
          </li>
        </ul>
      </div>
    </div>

    <section id="commemorative_events_prodPage" class="commemorative_events-bg">
      <div class="events container">
        <div class="events_picture">
          <img src="/images/eventos/eventos_2.svg" alt="Eventos Comemorativos">
        </div>

        <div class="events_contents">
          <span class="font-2-l-b color-8">
            Eventos Comemorativos
          </span>
          <h2 class="font-1-xxl color-10">
            você escolhe a quantidade e o teor
          </h2>
          <p class="font-2-l color-12">
            Confraternizações, palestras ou lançamentos. Transforme seu evento de negócios com as nossas bebidas. Ganhe um diferencial incrível para seus convidados com nossas degustações guiadas e harmonizações.
            Quer saber mais?
          </p>
          <a href="" class="link">Reserve seu evento</a>
        </div>
      </div>
    </section>
  </main>

  <%- include("components/footer.ejs") %>

  <script src="../scripts/plugins/simple-anime.js"></script>
  <script src="../scripts/script.js"></script>
  <script src="../scripts/estoque.js"></script>
</body>

</html>
