<div class="checkbox-group <%=style%>" data-anime="800">
  <input
    type="checkbox"
    id="<%=id_name%>"
    name="<%=id_name%>"
    value="<%=value%>"
  />
  <label for="<%=id_name%>"><%=label%></label>
</div>
